<launch>
    
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="gmapping"/>
        <arg name="open_rviz" value="false"/>
    </include>

    <arg name="target_colour" default="Red" />

    <node pkg="team19" type="task5_nav_backup.py" name="task5" output="screen"
    args = "-colour $(arg target_colour)"/>

</launch>